body {
  background-color: lightblue;
  color: brown;
}

.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.brand,
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li > a {
  padding: 8px 24px;
  color: white;
  text-decoration: none;
}

.button-menu-toggle {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-family: 'Segoe UI';
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.column {
  flex: 1;
  padding: 10px;
}

p {
  font-family: 'Helvetica';
  margin: 20px;
  padding: 10px;
}

.imagenes {
  display: flex;
}

footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }

  .nav-links {
    display: none;
  }

  .button-menu-toggle {
    display: block;
    background-color: #f0f0f0;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;
  }
}

.page-footer {
  background-color: #607d8b;
  color: #000000;
  padding: 40px 0;
}

.page-footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-footer h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.page-footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

.page-footer ul.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-footer ul.contact-info li {
  margin-bottom: 5px;
}

.page-footer ul.contact-info a {
  color: #000000;
  text-decoration: none;
}

.page-footer .divider {
  background-color: #000000;
  height: 1px;
  margin: 20px 0;
}

.page-footer p.grey-text {
  color: #000000;
}

.page-footer button {
  background-color: #000000;
  color: #607d8b;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.container-nav {
  background-image: url("./img/dual_block_impacto.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
  text-align: center;
}

main {
  padding: 20px;
}

.service {
  margin-bottom: 20px;
}

.service h2 {
  color: #333;
}

.service p {
  color: #666;
}
