.contenedor-formulario{
    width: 300px;
    margin: 0 auto;
}

.campo{
    margin-top: 25px;
}

.contenedor-formulario label{
    display: block;
    margin-bottom: 5px;
}

.contenedor-formulario input{
    width: 100%;
    padding: 5px;
}

.mensaje-error{
    color: red;
    font-size: small;
    height: 1em;
    margin-top: 5px;
}

.btn-enviar{
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
}

