.image-slider {
    display: flex;
    height: 90vh;
    background-color: black;
    justify-content:center;
}

.btn {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 30px;
    border: none;
}


.imagen {
    height: 100%;
}